<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="generatedClassPathList">
          <list>
            <option value="D:\Code\apps\backend-comment\src\main\java\cc\jktu\apps\comment\dao\entity" />
          </list>
        </option>
        <option name="mapperFilesFolder" value="D:\Code\apps\backend-blog\src\main\resources\mapper" />
        <option name="mapperFilesFolderList">
          <list>
            <option value="D:\Code\apps\backend-blog\src\main\resources\mapper" />
          </list>
        </option>
      </ProjectProfile>
    </option>
  </component>
</project>